#form-section {
	border: 1px solid rgb(122, 120, 120);
	border-radius: 10px;
	padding-top: 2.1%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-bottom: 2.1%;
}

input[readonly],
input[readonly]:focus,
textarea[readonly],
textarea[readonly]:focus {
	background-color: #e9ecef;
	color: #555;
	border: 1px solid #ccc;
	box-shadow: none;   /* important for Bootstrap */
	outline: none;
	pointer-events: none;
}


